### Read the GDP release with Python

In [1]:
import requests
import pandas as pd
import config   ## File with API key

def write_txt(filename, filetext):
    '''Write label to txt file'''
    with open(filename, 'w') as text_file:
        text_file.write(filetext)

In [3]:
# Components of request
base = f'https://www.bea.gov/api/data/?&UserID={config.bea_key}'
dset = '&method=GetData&datasetname=NIPA'
tbl = [('T10102', ['A191RL', 'DPCERY', 'A006RY', 'A019RY', 'A822RY']),
       ('T50302', ['A008RZ', 'B009RZ', 'Y033RZ', 'Y001RZ'])]
       #('T50100', ['W170RC', 'W988RC', 'W987RC', 'A782RC']),
       #('T10106', ['A191RX', 'RPCERX', 'A005RX', 'A019RX', 'A822RX'])]
freq = '&Frequency=Q'
year = f'&Year={",".join([str(i) for i in range(2005,2018)])}'
fmt = '&ResultFormat=json'

s1,s2,s3,s4 = '\scriptsize{','}\\\\\scriptsize{','}\\\\\\textbf{','}'

In [74]:
for t in tbl:
    # Build url from components
    url = f'{base}{dset}&TableName={t[0]}{freq}{year}{fmt}'
    # Request data
    full_table = requests.get(url).json()['BEAAPI']['Results']['Data']
    r = [s for s in full_table if s['SeriesCode'] in t[1]]
    idx1 = [pd.to_datetime(i['TimePeriod']) for i in r]
    idx2 = [i['SeriesCode'] for i in r]
    df = pd.DataFrame(r, index=[idx1, idx2], columns=['DataValue']).unstack(1)
    df['DataValue'].loc['2006-01-01':].to_csv(f'{t[0]}.csv', index_label='DATE')

    # Write chart label to txt
    lt_dt = r[-1]['TimePeriod']
    lt_val = round(float(df['DataValue'][t[1][0]].iloc[-1:][0].replace(',','')), 1)
    lbl = f'{s1}{lt_dt[:4]}{s2}{lt_dt[4:]}{s3}{lt_val}{s4}'
    write_txt(f'{t[0]}.txt', lbl)

In [64]:
r[-1]['TimePeriod']

'2017Q4'

In [65]:
lt_dt = r[-1]['TimePeriod']
lt_val = round(float(df['DataValue']['A191RL'].iloc[-1:][0]), 2)

In [61]:
lt_dt

Timestamp('2017-10-01 00:00:00')

In [72]:
df['DataValue']

              A019RX      A191RX     A822RX
2005-01-01  -774,147  14,099,081  2,814,091
2005-04-01  -773,540  14,172,695  2,818,942
2005-07-01  -777,679  14,291,757  2,840,970
2005-10-01  -803,875  14,373,438  2,830,703
2006-01-01  -798,980  14,546,119  2,853,496
2006-04-01  -799,103  14,589,585  2,864,122
2006-07-01  -819,709  14,602,633  2,870,426
2006-10-01  -759,291  14,716,930  2,889,085
2007-01-01  -771,013  14,726,022  2,882,744
2007-04-01  -753,725  14,838,664  2,907,034
2007-07-01  -703,152  14,938,467  2,928,048
2007-10-01  -622,583  14,991,784  2,939,810
2008-01-01  -623,695  14,889,450  2,951,988
2008-04-01  -550,382  14,963,357  2,974,981
2008-07-01  -526,919  14,891,643  3,016,161
2008-10-01  -530,282  14,576,985  3,035,882
2009-01-01  -451,324  14,375,018  3,040,542
2009-04-01  -366,333  14,355,558  3,096,001
2009-07-01  -383,643  14,402,477  3,112,999
2009-10-01  -380,448  14,541,901  3,106,822
2010-01-01  -408,776  14,604,845  3,084,280
2010-04-01  -469,707  14,745,933  3,106,209
2010-07-01  -498,445  14,845,458  3,103,533
2010-10-01  -458,094  14,939,001  3,071,524
2011-01-01  -466,181  14,881,301  3,012,216
2011-04-01  -455,249  14,989,555  3,008,995
2011-07-01  -454,323  15,021,149  2,990,006
2011-10-01  -461,679  15,190,255  2,978,279
2012-01-01  -462,696  15,291,035  2,963,714
2012-04-01  -452,688  15,362,415  2,949,378
2012-07-01  -446,802  15,380,802  2,940,856
2012-10-01  -426,044  15,384,254  2,912,269
2013-01-01  -414,359  15,491,878  2,880,574
2013-04-01  -421,097  15,521,559  2,866,231
2013-07-01  -416,098  15,641,336  2,851,955
2013-10-01  -368,072  15,793,928  2,831,451
2014-01-01  -410,995  15,757,570  2,827,201
2014-04-01  -426,161  15,935,825  2,834,668
2014-07-01  -416,660  16,139,513  2,849,507
2014-10-01  -456,928  16,220,222  2,845,038
2015-01-01  -524,144  16,349,970  2,855,726
2015-04-01  -526,215  16,460,889  2,879,885
2015-07-01  -559,309  16,527,587  2,888,251
2015-10-01  -571,524  16,547,619  2,890,238
2016-01-01  -584,218  16,571,573  2,903,187
2016-04-01  -572,408  16,663,516  2,896,332
2016-07-01  -557,294  16,778,148  2,899,936
2016-10-01  -631,079  16,851,420  2,901,184
2017-01-01  -622,219  16,903,240  2,896,627
2017-04-01  -613,633  17,031,085  2,895,230
2017-07-01  -597,547  17,163,894  2,899,965
2017-10-01  -652,607  17,272,468  2,921,132

In [ ]:
f'{df.iloc[-1].name: %Y %}'#df.iloc[-1].name

In [ ]:
lt_date = r[-1]['TimePeriod']

s1, s2, s3, s4 = '\scriptsize{', '}\\\scriptsize{', '}\\\textbf{', '}'
lbl = f'{s1}{lt_date[:4]}{s2}{lt_date[4:]}{s3}{df["A191RL"][-1]}{s4}'

In [ ]:
lt_date[4:]

In [ ]:
lbl = f'{s1}{lt_date[:4]}{s2}{lt_date[4:]}{s3}{df["A191RL"][-1]}{s4}'

In [ ]:
# Build url from components
url = f'{base}{dset}&TableName={tbl[0][0]}{freq}{year}{fmt}'

# Request data and and convert to pandas dataframe
r = requests.get(url).json()['BEAAPI']['Results']['Data']
dates = [pd.to_datetime(v['TimePeriod']) for v in r]
df = pd.DataFrame(r, index=[dates, 'SeriesCode'])
df = df[df['SeriesCode'].isin(tbl[0][1])].set_index(['date', 'SeriesCode'])
df = df['DataValue'].unstack(1).loc['2006-01-01':]
df.to_csv('gdp_comp.csv', index_label='DATE')

write_txt('gdp_comp.txt', df['A191RL'][-1]) # Write chart label to txt

In [ ]:
# Build url from components
url = f'{base}{dset}&TableName={tbl[1][0]}{freq}{year}{fmt}'

# Request data and and convert to pandas dataframe
r = requests.get(url).json()['BEAAPI']['Results']['Data']
df = pd.DataFrame(r, index=[pd.to_datetime(v['TimePeriod']) for v in r])

In [ ]:
# Build url from components
url = f'{base}{dset}&TableName={tbl[3][0]}{freq}{year}{fmt}'

# Request data and and convert to pandas dataframe
r = requests.get(url).json()['BEAAPI']['Results']['Data']
df = pd.DataFrame(r, index=[pd.to_datetime(v['TimePeriod']) for v in r])

In [ ]:
df['2017-10-01']#['LineDescription'].unique()

In [ ]:
r = [x for x in r if x['SeriesCode'] in tbl[0][1]]
idx1 = [pd.to_datetime(i['TimePeriod']) for i in r]
idx2 = [i['SeriesCode'] for i in r]
df = pd.DataFrame(r, index=[idx1, idx2])['DataValue'].unstack(1)

In [ ]:
pd.DataFrame(r, index=[idx1, idx2])['DataValue'].unstack(1)

In [ ]:
df

In [ ]:
com = 'T10102'
inv = 'T50302'
gdi = 'T50100'

In [ ]:
url = '{}&datasetname={}&TableName={}&Frequency={}&Year={}&ResultFormat=json'.format(
    base, 'NIPA', 'T10105', 'Q', 'ALL')    # Adjust here as needed
df = pd.DataFrame(requests.get(url).json()['BEAAPI']['Results']['Data'])

In [ ]:
float(Y.replace(',', ''))

In [ ]:
(df[df['SeriesCode'] == 'A191RC'].set_index('TimePeriod')['DataValue'].str.replace(',', '').astype('float') * 1000).loc['2006-01-01':]

In [ ]:
[x for x in r if x['SeriesCode'] in tbl[0][1]]

In [ ]:
tbl[0][1]

In [ ]:
r

In [ ]:
import requests
import config   ## File with API key
bea_key = config.bea_key

# Components of request
base = 'https://www.bea.gov/api/data/?&UserID={}'.format(bea_key)
m = '&method=GetData'
dsn = '&datasetname=NIPA'
ind = '&TableId=2'
freq = '&Frequency=Q'
year = '&Year=LAST12'
fmt = '&ResultFormat=json'

# Combined url for request
url = '{}{}{}{}{}{}{}'.format(base, m, dsn, ind, freq, year, fmt)
r = requests.get(url).json()
#f = pd.DataFrame(r['BEAAPI']['Results']['Data'])

In [ ]:
r