In [1]:
import pandas as pd
import pandas_datareader.data as web
import datetime
import StringIO
import requests
import quandl
import config   ## File with API key
quandl.ApiConfig.api_key = config.key

def write_txt(filename, filetext):
# Write label to txt file
    with open(filename, 'w') as text_file:
        text_file.write(filetext)

In [25]:
url = 'https://www.stat-search.boj.or.jp/info/co.zip'
r = requests.get(url, stream=True)
df = pd.read_csv(StringIO.StringIO(r.content), compression='zip', header=None)
df[df[0] == 'COAEF1000601GCQ03000@']
#df2.loc[:,'date'] = [pd.to_datetime(row[1][:4] + 'Q' + row[1][5:]) for row in df2[2].astype(str).iteritems()]

                          0  1       2   3
5133  COAEF1000601GCQ03000@  Q  201501   1
5134  COAEF1000601GCQ03000@  Q  201502   0
5135  COAEF1000601GCQ03000@  Q  201503   0
5136  COAEF1000601GCQ03000@  Q  201504   0
5137  COAEF1000601GCQ03000@  Q  201601  -4
5138  COAEF1000601GCQ03000@  Q  201602  -5
5139  COAEF1000601GCQ03000@  Q  201603  -3
5140  COAEF1000601GCQ03000@  Q  201604   1
5141  COAEF1000601GCQ03000@  Q  201701   5

In [27]:
df[df[0] == 'COAEF1000601GCQ02000@']

                          0  1       2   3
5124  COAEF1000601GCQ02000@  Q  201501   4
5125  COAEF1000601GCQ02000@  Q  201502   2
5126  COAEF1000601GCQ02000@  Q  201503   5
5127  COAEF1000601GCQ02000@  Q  201504   5
5128  COAEF1000601GCQ02000@  Q  201601   5
5129  COAEF1000601GCQ02000@  Q  201602   1
5130  COAEF1000601GCQ02000@  Q  201603   3
5131  COAEF1000601GCQ02000@  Q  201604   6
5132  COAEF1000601GCQ02000@  Q  201701  11

In [7]:
df2.loc[:,'date'] = [pd.to_datetime(row[1][:4] + 'Q' + row[1][5:]) for row in df2[2].astype(str).iteritems()]

In [23]:
df2['date'][5106].to_period('Q')

Period('2015Q1', 'Q-DEC')

In [ ]:
df[df[0] == 'COAEF1000601GCQ00000@'].iloc[-1:,3].values

In [ ]:
pd.to_datetime(df[df[0] == 'COAEF1000601GCQ00000@'][2]).dt.to_period('Q')

In [ ]:
for row in df[df[0] == 'COAEF1000601GCQ00000@'][2].astype(str).iteritems():
    print pd.to_datetime(row[1][:4] + 'Q' + row[1][5:]).to_period('Q')

In [ ]:
df[df[0] == 'COAEF1000601GCQ00000@'][2].astype(str).str.replace('......', '....Q.', regex=True)

In [ ]:
df2 = df[df[0] == 'COAEF1000601GCQ00000@']

In [ ]:
df2 = df[df[0] == 'COAEF1000601GCQ00000@']
df2.loc[:,'date'] = [pd.to_datetime(row[1][:4] + 'Q' + row[1][5:]).to_period('Q') for row in df2[2].astype(str).iteritems()]