In [2]:
import pandas as pd
import pandas_datareader.data as web
import datetime
import StringIO
import requests
import quandl
import config   ## File with API key
quandl.ApiConfig.api_key = config.key

def write_txt(filename, filetext):
# Write label to txt file
    with open(filename, 'w') as text_file:
        text_file.write(filetext)

In [3]:
url = 'https://www.stat-search.boj.or.jp/info/co.zip'
r = requests.get(url, stream=True)
df = pd.read_csv(StringIO.StringIO(r.content), compression='zip', header=None)
df[df[0] == 'COAEF1000601GCQ03000@']
#df2.loc[:,'date'] = [pd.to_datetime(row[1][:4] + 'Q' + row[1][5:]) for row in df2[2].astype(str).iteritems()]

C:\Users\BDew\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                          0  1       2  3
5767  COAEF1000601GCQ03000@  Q  201501  1
5768  COAEF1000601GCQ03000@  Q  201502  0
5769  COAEF1000601GCQ03000@  Q  201503  0
5770  COAEF1000601GCQ03000@  Q  201504  0
5771  COAEF1000601GCQ03000@  Q  201601 -4
5772  COAEF1000601GCQ03000@  Q  201602 -5
5773  COAEF1000601GCQ03000@  Q  201603 -3
5774  COAEF1000601GCQ03000@  Q  201604  1
5775  COAEF1000601GCQ03000@  Q  201701  5
5776  COAEF1000601GCQ03000@  Q  201702  7

In [7]:
df[df[0] == 'COAEF1000601GCQ00000@']

                          0  1       2   3
5737  COAEF1000601GCQ00000@  Q  201501   5
5738  COAEF1000601GCQ00000@  Q  201502   4
5739  COAEF1000601GCQ00000@  Q  201503   5
5740  COAEF1000601GCQ00000@  Q  201504   4
5741  COAEF1000601GCQ00000@  Q  201601   1
5742  COAEF1000601GCQ00000@  Q  201602   0
5743  COAEF1000601GCQ00000@  Q  201603   1
5744  COAEF1000601GCQ00000@  Q  201604   4
5745  COAEF1000601GCQ00000@  Q  201701   8
5746  COAEF1000601GCQ00000@  Q  201702  11

In [7]:
df2.loc[:,'date'] = [pd.to_datetime(row[1][:4] + 'Q' + row[1][5:]) for row in df2[2].astype(str).iteritems()]

In [23]:
df2['date'][5106].to_period('Q')

Period('2015Q1', 'Q-DEC')

In [ ]:
df[df[0] == 'COAEF1000601GCQ00000@'].iloc[-1:,3].values

In [ ]:
pd.to_datetime(df[df[0] == 'COAEF1000601GCQ00000@'][2]).dt.to_period('Q')

In [ ]:
for row in df[df[0] == 'COAEF1000601GCQ00000@'][2].astype(str).iteritems():
    print pd.to_datetime(row[1][:4] + 'Q' + row[1][5:]).to_period('Q')

In [ ]:
df[df[0] == 'COAEF1000601GCQ00000@'][2].astype(str).str.replace('......', '....Q.', regex=True)

In [ ]:
df2 = df[df[0] == 'COAEF1000601GCQ00000@']

In [ ]:
df2 = df[df[0] == 'COAEF1000601GCQ00000@']
df2.loc[:,'date'] = [pd.to_datetime(row[1][:4] + 'Q' + row[1][5:]).to_period('Q') for row in df2[2].astype(str).iteritems()]