## Health Insurance Issuers by County--Republican states offer fewer options

Using the Bloomberg data from this story: https://www.bloomberg.com/graphics/2017-health-insurer-exits/ matched with population data from Census and the Governor's party affiliation from the NGA.

In [1]:
import pandas as pd

#### Collect data

In [4]:
df = pd.read_csv('issuers_bloomberg_data.csv').query('year == 2017').set_index('year')
df = df.groupby('fips_county').issuer_name.count()

df2 = pd.read_csv('census_pop.csv').set_index('state').join(
    pd.read_csv('nga_gov_list.csv').set_index('state')).dropna().reset_index().set_index('fips_county')
data = df2.join(df).dropna()

In [5]:
data.to_csv('clean_data.csv')

#### Basic calculations

In [6]:
data['issuer_number'] = data['issuer_name']
d = {1: '1', 2: '2', 3: '3+', 4: '3+', 5: '3+', 6: '3+', 7: '3+', 8: '3+', 9: '3+', 10: '3+', 11: '3+', 12: '3+', 13: '3+'}
data = data.replace({'issuer_number': d})

In [7]:
pd.pivot_table(data, values='pop', index=['gov_party', 'issuer_number'], aggfunc=sum)

                                 pop
gov_party   issuer_number
Democratic  1               10714794
            2               24084228
            3+              92549769
Independent 1                 733845
Republican  1               40182082
            2               40763075
            3+             113395998

In [8]:
pd.pivot_table(data[~data['state'].str.contains('NC')], values='pop', index=['gov_party', 'issuer_number'], aggfunc=sum)

                                 pop
gov_party   issuer_number
Democratic  1                2114291
            2               22537943
            3+              92549769
Independent 1                 733845
Republican  1               40182082
            2               40763075
            3+             113395998

In [9]:
pd.pivot_table(data, values='pop', index=['issuer_number'], aggfunc=sum)

                     pop
issuer_number
1               51630721
2               64847303
3+             205945767

In [10]:
pd.pivot_table(data[~data['state'].str.contains('NC')], values='pop', index=['gov_party', 'issuer_number'], aggfunc=sum).groupby(level=0).transform(lambda x: x/x.sum())

                                pop
gov_party   issuer_number
Democratic  1              0.018040
            2              0.192300
            3+             0.789660
Independent 1              1.000000
Republican  1              0.206761
            2              0.209750
            3+             0.583489

In [11]:
len(data['state'].unique())

50

In [12]:
pd.pivot_table(data[~data['state'].str.contains('NC')], values='pop', index=['gov_party', 'issuer_number'], aggfunc=sum)#.groupby(level=0).transform(lambda x: x/x.sum())

                                 pop
gov_party   issuer_number
Democratic  1                2114291
            2               22537943
            3+              92549769
Independent 1                 733845
Republican  1               40182082
            2               40763075
            3+             113395998

In [43]:
ll = pd.read_table('2015_Gaz_counties_national.txt').rename(columns={'GEOID': 'fips_county'}).set_index('fips_county')
ll['INTPTLONG'] = ll.iloc[:,-1].rename('INTPTLONG')
ll = ll[['INTPTLAT', 'INTPTLONG']]

In [45]:
data = data.join(ll)

In [46]:
data.to_csv('clean_data.csv')

In [47]:
data

,state,county_name,pop,gov_name,gov_party,issuer_name,issuer_number,INTPTLAT,INTPTLONG
fips_county,,,,,,,,,
2013,AK,"Aleutians East Borough, Alaska",3296,Bill Walker,Independent,1.0,1,55.245044,-161.997477
2016,AK,"Aleutians West Census Area, Alaska",5647,Bill Walker,Independent,1.0,1,51.959447,178.338813
2020,AK,"Anchorage Municipality, Alaska",298192,Bill Walker,Independent,1.0,1,61.174250,-149.284329
2050,AK,"Bethel Census Area, Alaska",17968,Bill Walker,Independent,1.0,1,60.929141,-160.152625
2060,AK,"Bristol Bay Borough, Alaska",898,Bill Walker,Independent,1.0,1,58.730158,-156.996632
2068,AK,"Denali Borough, Alaska",1953,Bill Walker,Independent,1.0,1,63.681106,-150.026544
2070,AK,"Dillingham Census Area, Alaska",4954,Bill Walker,Independent,1.0,1,60.297320,-158.094726
2090,AK,"Fairbanks North Star Borough, Alaska",100605,Bill Walker,Independent,1.0,1,64.692317,-146.601733
2100,AK,"Haines Borough, Alaska",2496,Bill Walker,Independent,1.0,1,59.098771,-135.576936
2105,AK,"Hoonah-Angoon Census Area, Alaska",2078,Bill Walker,Independent,1.0,1,58.403336,-135.884909
2110,AK,"Juneau City and Borough, Alaska",32468,Bill Walker,Independent,1.0,1,58.372910,-134.178445
2122,AK,"Kenai Peninsula Borough, Alaska",58506,Bill Walker,Independent,1.0,1,60.366668,-152.322283
2130,AK,"Ketchikan Gateway Borough, Alaska",13746,Bill Walker,Independent,1.0,1,55.449938,-131.106685
2150,AK,"Kodiak Island Borough, Alaska",13732,Bill Walker,Independent,1.0,1,57.502015,-153.563512
2164,AK,"Lake and Peninsula Borough, Alaska",1562,Bill Walker,Independent,1.0,1,58.205065,-156.705188
2170,AK,"Matanuska-Susitna Borough, Alaska",104365,Bill Walker,Independent,1.0,1,62.279075,-149.617562
2180,AK,"Nome Census Area, Alaska",9917,Bill Walker,Independent,1.0,1,64.783686,-164.188912
2185,AK,"North Slope Borough, Alaska",9606,Bill Walker,Independent,1.0,1,69.449343,-153.472830
2188,AK,"Northwest Arctic Borough, Alaska",7673,Bill Walker,Independent,1.0,1,67.005066,-160.021086
2195,AK,"Petersburg Borough, Alaska",3149,Bill Walker,Independent,1.0,1,57.112458,-133.008598
2198,AK,"Prince of Wales-Hyder Census Area, Alaska",6347,Bill Walker,Independent,1.0,1,55.682773,-133.162389
2220,AK,"Sitka City and Borough, Alaska",8830,Bill Walker,Independent,1.0,1,57.193204,-135.367396
2230,AK,"Skagway Municipality, Alaska",1088,Bill Walker,Independent,1.0,1,59.575097,-135.335418
2240,AK,"Southeast Fairbanks Census Area, Alaska",6876,Bill Walker,Independent,1.0,1,63.864997,-143.218628
2261,AK,"Valdez-Cordova Census Area, Alaska",9355,Bill Walker,Independent,1.0,1,61.349840,-145.023141
2275,AK,"Wrangell City and Borough, Alaska",2411,Bill Walker,Independent,1.0,1,56.180779,-132.026788
2282,AK,"Yakutat City and Borough, Alaska",601,Bill Walker,Independent,1.0,1,60.007062,-140.148108
2290,AK,"Yukon-Koyukuk Census Area, Alaska",5526,Bill Walker,Independent,1.0,1,65.375716,-151.577878
1001,AL,"Autauga County, Alabama",55416,Kay Ivey,Republican,1.0,1,32.532237,-86.646440
1003,AL,"Baldwin County, Alabama",208563,Kay Ivey,Republican,1.0,1,30.659218,-87.746067
...,...,...,...,...,...,...,...,...,...
54097,WV,"Upshur County, West Virginia",24658,Jim Justice,Democratic,1.0,1,38.902536,-80.231335
54099,WV,"Wayne County, West Virginia",40531,Jim Justice,Democratic,2.0,2,38.145541,-82.419681
54101,WV,"Webster County, West Virginia",8646,Jim Justice,Democratic,1.0,1,38.483459,-80.449052
54103,WV,"Wetzel County, West Virginia",15640,Jim Justice,Democratic,2.0,2,39.600602,-80.628157
54105,WV,"Wirt County, West Virginia",5806,Jim Justice,Democratic,2.0,2,39.020034,-81.382975
54107,WV,"Wood County, West Virginia",85643,Jim Justice,Democratic,2.0,2,39.211575,-81.516253
54109,WV,"Wyoming County, West Virginia",21763,Jim Justice,Democratic,1.0,1,37.603717,-81.548884
56001,WY,"Albany County, Wyoming",38256,Matt Mead,Republican,1.0,1,41.665514,-105.721883
56003,WY,"Big Horn County, Wyoming",12005,Matt Mead,Republican,1.0,1,44.525117,-107.994848
56005,WY,"Campbell County, Wyoming",48803,Matt Mead,Republican,1.0,1,44.191999,-105.517014
56007,WY,"Carbon County, Wyoming",15618,Matt Mead,Republican,1.0,1,41.703590,-106.933153
56009,WY,"Converse County, Wyoming",14191,Matt Mead,Republican,1.0,1,42.974898,-105.505917
56011,WY,"Crook County, Wyoming",7464,Matt Mead,Republican,1.0,1,44.589266,-104.567298
56013,WY,"Fremont County, Wyoming",40242,Matt Mead,Republican,1.0,1,43.054831,-108.608935
56015,WY,"Goshen County, Wyoming",13390,Matt Mead,Republican,1.0,1,42.089580,-104.353482
56017,WY,"Hot Springs County, Wyoming",4679,Matt Mead,Republican,1.0,1,43.720209,-108.435076
56019,WY,"Johnson County, Wyoming",8486,Matt Mead,Republican,1.0,1,44.044048,-106.588541
56021,WY,"Laramie County, Wyoming",98136,Matt Mead,Republican,1.0,1,41.292830,-104.660395
56023,WY,"Lincoln County, Wyoming",19110,Matt Mead,Republican,1.0,1,42.229993,-110.682961
56025,WY,"Natrona County, Wyoming",81039,Matt Mead,Republican,1.0,1,42.973602,-106.765070
56027,WY,"Niobrara County, Wyoming",2480,Matt Mead,Republican,1.0,1,43.062159,-104.468373
56029,WY,"Park County, Wyoming",29353,Matt Mead,Republican,1.0,1,44.492387,-109.593597
56031,WY,"Platte County, Wyoming",8680,Matt Mead,Republican,1.0,1,42.131593,-104.953963
56033,WY,"Sheridan County, Wyoming",30200,Matt Mead,Republican,1.0,1,44.781369,-106.881211
56035,WY,"Sublette County, Wyoming",9769,Matt Mead,Republican,1.0,1,42.767928,-109.916170
56037,WY,"Sweetwater County, Wyoming",44165,Matt Mead,Republican,1.0,1,41.660328,-108.875677
56039,WY,"Teton County, Wyoming",23191,Matt Mead,Republican,1.0,1,44.048663,-110.426071
56041,WY,"Uinta County, Wyoming",20773,Matt Mead,Republican,1.0,1,41.284726,-110.558947
56043,WY,"Washakie County, Wyoming",8235,Matt Mead,Republican,1.0,1,43.878831,-107.669052
56045,WY,"Weston County, Wyoming",7236,Matt Mead,Republican,1.0,1,43.846213,-104.570020

In [11]:
tot = 51630721.0
d_sh = 10714794.0/tot
r_sh = 40182082.0/tot
tot_nc = 43030218.0
d_sh_nc = 10714794.0/tot_nc
r_sh_nc = 40182082.0/tot_nc

In [12]:
d_sh_nc

0.24900626810675233