### Storing economic data in a SQL database

In [1]:
import requests
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect('econ_data.db')

In [19]:
url = 'http://dataservices.imf.org/REST/SDMX_JSON.svc/'
param = [('name', 'Inflation'),
         ('dataset', 'IFS'),
         ('freq', 'M'),
         ('country', 'GB+DE+US+FR+CA+BR+SG+JP'),
         ('series', 'PCPI_IX')]
series = '.'.join([param[x][1] for x in [2,3,4]])

key = 'CompactData/{}/{}'.format(param[1][1], series)

In [20]:
r = requests.get('{}{}'.format(url, key)).json()
df = pd.DataFrame()
for s in r['CompactData']['DataSet']['Series']:
    df[s['@REF_AREA']] = pd.Series([float(x['@OBS_VALUE']) for x in s['Obs']],
                                  index=[x['@TIME_PERIOD'] for x in s['Obs']])

df = df.pct_change(12).multiply(100).astype(float).round(1)

In [21]:
df.to_sql(param[0][1], conn, if_exists='replace', index_label='Date')

In [22]:
pd.read_sql("select * from Inflation", conn, index_col='Date', parse_dates=True).tail()

          JP   CA   GB   BR   SG   DE   US   FR
Date
2017-06  0.3  1.0  2.7  3.0  0.6  1.6  1.6  0.7
2017-07  0.5  1.2  2.6  2.7  0.5  1.7  1.7  0.7
2017-08  0.6  1.4  2.9  2.5  0.4  1.8  1.9  0.9
2017-09  0.7  1.6  3.0  2.5  0.3  1.8  2.2  1.0
2017-10  0.2  1.4  3.0  2.7  0.4  1.6  2.0  1.1

In [14]:
df

          JP   CA   GB    BR   SG   DE   US    FR
1957-01  NaN  NaN  NaN   NaN  NaN  NaN  NaN   NaN
1957-02  NaN  NaN  NaN   NaN  NaN  NaN  NaN   NaN
1957-03  NaN  NaN  NaN   NaN  NaN  NaN  NaN   NaN
1957-04  NaN  NaN  NaN   NaN  NaN  NaN  NaN   NaN
1957-05  NaN  NaN  NaN   NaN  NaN  NaN  NaN   NaN
1957-06  NaN  NaN  NaN   NaN  NaN  NaN  NaN   NaN
1957-07  NaN  NaN  NaN   NaN  NaN  NaN  NaN   NaN
1957-08  NaN  NaN  NaN   NaN  NaN  NaN  NaN   NaN
1957-09  NaN  NaN  NaN   NaN  NaN  NaN  NaN   NaN
1957-10  NaN  NaN  NaN   NaN  NaN  NaN  NaN   NaN
1957-11  NaN  NaN  NaN   NaN  NaN  NaN  NaN   NaN
1957-12  NaN  NaN  NaN   NaN  NaN  NaN  NaN   NaN
1958-01  1.0  2.6  NaN   NaN  NaN  NaN  3.5  13.9
1958-02  0.3  2.6  NaN   NaN  NaN  NaN  3.2  15.1
1958-03 -0.3  3.1  NaN   NaN  NaN  NaN  3.7  17.3
1958-04 -0.6  3.5  NaN   NaN  NaN  NaN  3.6  18.5
1958-05 -1.6  3.3  NaN   NaN  NaN  NaN  3.3  18.9
1958-06  0.0  2.9  NaN   NaN  NaN  NaN  2.9  18.6
1958-07 -1.9  2.3  NaN   NaN  NaN  NaN  2.5  17.2
1958-08 -1.2  2.1  NaN   NaN  NaN  NaN  2.2  16.2
1958-09 -1.2  1.9  NaN   NaN  NaN  NaN  2.1  15.3
1958-10 -0.3  2.1  NaN   NaN  NaN  NaN  2.1  13.9
1958-11  0.3  2.5  NaN   NaN  NaN  NaN  1.9  10.9
1958-12  0.3  2.5  NaN   NaN  NaN  NaN  1.7   8.9
1959-01  0.3  2.2  NaN   NaN  NaN  NaN  1.2   8.0
1959-02  0.6  1.7  NaN   NaN  NaN  NaN  1.0   8.2
1959-03  1.3  0.9  NaN   NaN  NaN  NaN  0.3   6.5
1959-04  1.6  0.2  NaN   NaN  NaN  NaN  0.3   5.6
1959-05  0.6  0.4  NaN   NaN  NaN  NaN  0.4   4.8
1959-06  0.3 -0.1  NaN   NaN  NaN  NaN  0.7   4.7
...      ...  ...  ...   ...  ...  ...  ...   ...
2015-05  0.5  0.9  0.1   8.5 -0.4  0.7  0.0   0.3
2015-06  0.4  1.0  0.0   8.9 -0.3  0.3  0.1   0.3
2015-07  0.2  1.3  0.1   9.6 -0.4  0.2  0.2   0.2
2015-08  0.2  1.3  0.1   9.5 -0.8  0.2  0.2   0.0
2015-09  0.0  1.0 -0.1   9.5 -0.7  0.0  0.0   0.0
2015-10  0.2  1.0 -0.1   9.9 -0.8  0.3  0.2   0.1
2015-11  0.3  1.4  0.2  10.5 -0.7  0.4  0.5   0.0
2015-12  0.1  1.6  0.2  10.7 -0.6  0.3  0.7   0.2
2016-01 -0.1  2.0  0.2  10.7 -0.6  0.5  1.4   0.2
2016-02  0.2  1.4  0.3  10.4 -0.8  0.0  1.0  -0.2
2016-03  0.0  1.3  0.5   9.4 -1.0  0.3  0.9  -0.1
2016-04 -0.3  1.7  0.3   9.3 -0.4 -0.1  1.1  -0.2
2016-05 -0.4  1.5  0.3   9.3 -1.6  0.1  1.0   0.0
2016-06 -0.3  1.5  0.4   8.8 -0.8  0.3  1.0   0.2
2016-07 -0.5  1.3  0.6   8.7 -0.6  0.4  0.8   0.2
2016-08 -0.5  1.1  0.6   9.0 -0.2  0.4  1.1   0.2
2016-09 -0.5  1.3  0.9   8.5 -0.2  0.7  1.5   0.4
2016-10  0.2  1.5  0.9   7.9 -0.1  0.8  1.6   0.4
2016-11  0.5  1.2  1.1   7.0  0.0  0.8  1.7   0.5
2016-12  0.3  1.5  1.6   6.3  0.2  1.7  2.1   0.6
2017-01  0.5  2.1  1.9   5.4  0.5  1.9  2.5   1.3
2017-02  0.2  2.0  2.3   4.8  0.6  2.2  2.7   1.2
2017-03  0.2  1.6  2.3   4.6  0.7  1.6  2.4   1.1
2017-04  0.4  1.6  2.7   4.1  0.4  2.0  2.2   1.2
2017-05  0.4  1.3  2.9   3.6  1.4  1.5  1.9   0.8
2017-06  0.3  1.0  2.7   3.0  0.6  1.6  1.6   0.7
2017-07  0.5  1.2  2.6   2.7  0.5  1.7  1.7   0.7
2017-08  0.6  1.4  2.9   2.5  0.4  1.8  1.9   0.9
2017-09  0.7  1.6  3.0   2.5  0.3  1.8  2.2   1.0
2017-10  0.2  1.4  3.0   2.7  0.4  1.6  2.0   1.1

[730 rows x 8 columns]