In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('pythonsqlite.db')

In [3]:
c = conn.cursor()

In [5]:
c.execute("create table test (id integer, name text)")

In [6]:
c.execute("insert into test values (1,'Jay')")

In [7]:
c.execute("insert into test values (2,'Kay')")
c.execute("insert into test values (3,'Ray')")

In [8]:
c.execute("insert into test values (?,?)", (4, 'May'))

In [9]:
newid = 5
newname = 'Shay'
c.execute("insert into test values (?,?)", (newid, newname))

In [18]:
myrows = c.execute("select * from test where name=?", [newname])

In [19]:
for row in myrows:
    print row[0]
    print row[1]

5
Shay