## Matching employment-population ratio data from the CPS with BLS Summary Data

This is a proof of concept that the technique for using the CPS to find the employment to population ratio for one subgroup of the population will match with the BLS summary statistics for the same group/time. Specifically, I look at 2010 and Women aged 25-54, (BLS series ID: LNS12300062)

In [1]:
import pandas as pd

In [2]:
cols = ['year', 'female', 'age', 'educ', 'empl', 'fnlwgt', 'orgwgt']
year = '2015'

In [4]:
df = pd.read_stata('data/cepr_org_{}.dta'.format(year), columns=cols)

In [5]:
df = df[(df['age'] >= 25) & 
        (df['age'] <=54) &
        (df['female'] == 1)]

In [20]:
emp = df.groupby('empl').sum()['orgwgt'].ix[1]
pop = df.groupby('empl').sum()['orgwgt'].sum()
epop = emp/pop

print '{}: Women, age 25-54: {}'.format(year, str(round(epop * 100, 2)))

2015: Women, age 25-54: 71.17

In [19]:
df

        year  female  age          educ  empl       fnlwgt       orgwgt
2       2015       1   39       College   1.0   593.525513  2481.083984
18      2015       1   43      Advanced   0.0   799.666199  3025.380127
22      2015       1   41  Some college   0.0  1102.588135  4171.425781
25      2015       1   32  Some college   1.0  1148.501343  4607.502930
29      2015       1   37       College   1.0   593.525513  2481.083984
36      2015       1   29  Some college   1.0  1255.992554  5129.384766
38      2015       1   43  Some college   0.0   908.746399  3438.063721
40      2015       1   54      Advanced   1.0   582.943604  2336.285889
42      2015       1   51       College   1.0  1184.341553  4746.532715
47      2015       1   42      Advanced   1.0   573.069580  2344.332764
53      2015       1   44      Advanced   1.0   608.892822  2552.009277
56      2015       1   35      Advanced   1.0  1182.058228  4822.935547
58      2015       1   37            HS   1.0  1182.058228  4941.296875
60      2015       1   51       College   1.0   631.845581  2532.272705
62      2015       1   28  Some college   0.0  1255.992554  5352.830078
74      2015       1   53            HS   1.0  1258.376221  5043.244141
76      2015       1   48            HS   0.0  1153.065552  4381.541016
77      2015       1   38  Some college   1.0  1112.513672  4650.583496
78      2015       1   54       College   1.0  1144.151123  4636.097168
80      2015       1   32  Some college   1.0  1109.527100  4451.147949
86      2015       1   49            HS   1.0  1113.936523  4490.204590
89      2015       1   45       College   1.0  1130.324341  4556.262207
91      2015       1   47            HS   0.0  1113.936523  4232.853516
92      2015       1   48            HS   1.0   615.159912  2479.668945
97      2015       1   33            HS   1.0   612.724915  2458.100586
103     2015       1   43       College   1.0   561.767212  2354.495117
105     2015       1   29      Advanced   1.0   693.608887  2832.649658
110     2015       1   54       College   0.0   582.943604  2256.155029
113     2015       1   34  Some college   0.0   612.724915  2356.522705
117     2015       1   45      Advanced   1.0  1225.145142  4938.479004
...      ...     ...  ...           ...   ...          ...          ...
314545  2015       1   46      Advanced   1.0   480.628906  1896.927002
314555  2015       1   47      Advanced   1.0   480.628906  1896.927002
314558  2015       1   49  Some college   0.0   596.342896  2478.961426
314562  2015       1   40  Some college   1.0   663.923218  2509.086914
314566  2015       1   26       College   1.0   979.054993  3923.410400
314571  2015       1   47            HS   1.0   716.890198  2829.393311
314578  2015       1   50            HS   1.0   528.913025  2062.387939
314582  2015       1   41  Some college   1.0   833.229126  3148.924805
314585  2015       1   43            HS   1.0   663.923218  2509.086914
314587  2015       1   50  Some college   0.0   547.037720  2263.915283
314590  2015       1   31       College   1.0   719.335815  2882.626221
314596  2015       1   25            HS   0.0   839.327271  3603.656006
314602  2015       1   54       College   1.0   687.171204  2674.276611
314613  2015       1   52            HS   1.0   702.526794  2772.704590
314615  2015       1   33            HS   1.0   640.966003  2664.197510
314623  2015       1   50  Some college   1.0  1491.366699  5928.893555
314625  2015       1   25      Advanced   1.0   744.639771  3054.258301
314635  2015       1   51       College   1.0   679.250305  2680.837891
314639  2015       1   45       College   0.0   488.822205  1973.042603
314644  2015       1   30  Some college   0.0   731.598206  3141.120850
314645  2015       1   53       College   0.0   996.165710  4020.843506
314649  2015       1   39  Some college   1.0   718.993408  2717.207520
314652  2015       1   49            HS   1.0   704.874329  2781.969482
314662  2015       1   41      Advanced   1.0   610.858215  2404.043213
314664  2015       1   26  Some college   1.0   744.639771  2880.433594
314665  2015       1   34  Some college   1.0   640.966003  2664.197510
314668  2015       1   49       College   1.0   596.342896  2322.648193
314674  2015       1   28       College   1.0   979.054993  3923.410400
314683  2015       1   40       College   1.0   805.622070  3044.593018
314687  2015       1   30  Some college   NaN          NaN          NaN

[79701 rows x 7 columns]

In [10]:
df.groupby('empl').sum()['fnlwgt'].iloc[1]

1.3439517e+08

#### Compare with BLS Summary Statistics

In [13]:
import requests
import json
import config # file called config.py with my API key

# BLS API v1 url
url = 'https://api.bls.gov/publicAPI/v1/timeseries/data/'

series = 'LNS12300062'

In [14]:
# get the data returned by the url and series id
r = requests.get('{}{}'.format(url, series))

# Generate pandas dataframe from the data returned
df2 = pd.DataFrame(r.json()['Results']['series'][0]['data'])

In [15]:
df2

   footnotes period periodName value  year
0       [{}]    M08     August  72.1  2017
1       [{}]    M07       July  72.4  2017
2       [{}]    M06       June  72.1  2017
3       [{}]    M05        May  71.8  2017
4       [{}]    M04      April  71.9  2017
5       [{}]    M03      March  72.0  2017
6       [{}]    M02   February  71.6  2017
7       [{}]    M01    January  71.3  2017
8       [{}]    M12   December  71.5  2016
9       [{}]    M11   November  71.5  2016
10      [{}]    M10    October  71.6  2016
11      [{}]    M09  September  71.4  2016
12      [{}]    M08     August  71.1  2016
13      [{}]    M07       July  71.4  2016
14      [{}]    M06       June  70.9  2016
15      [{}]    M05        May  71.0  2016
16      [{}]    M04      April  70.8  2016
17      [{}]    M03      March  71.0  2016
18      [{}]    M02   February  70.8  2016
19      [{}]    M01    January  70.7  2016
20      [{}]    M12   December  70.7  2015
21      [{}]    M11   November  70.8  2015
22      [{}]    M10    October  70.4  2015
23      [{}]    M09  September  70.3  2015
24      [{}]    M08     August  70.2  2015
25      [{}]    M07       July  70.2  2015
26      [{}]    M06       June  70.4  2015
27      [{}]    M05        May  70.4  2015
28      [{}]    M04      April  70.2  2015
29      [{}]    M03      March  70.0  2015
30      [{}]    M02   February  70.2  2015
31      [{}]    M01    January  70.2  2015

In [16]:
round(df2[df2['year'] == year]['value'].astype(float).mean(), 2)

70.33