# Ascombe Quarter Example

## Load data

In [1]:
import datetime
from datetime import date
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd

In [3]:
df2 = pd.read_csv('AnscombeQuartet.csv')
df2.head()

   x1    y1  x2    y2  x3     y3  x4    y4
0  10  8.04  10  9.14  10   7.46   8  6.58
1   8  6.95   8  8.14   8   6.77   8  5.76
2  13  7.58  13  8.74  13  12.74   8  7.71
3   9  8.81   9  8.77   9   7.11   8  8.84
4  11  8.33  11  9.26  11   7.81   8  8.47

In [4]:
df2.describe()

,x1,y1,x2,y2,x3,y3,x4,y4
count,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000
mean,9.000000,7.500909,9.000000,7.500909,9.000000,7.500000,9.000000,7.500909
std,3.316625,2.031568,3.316625,2.031657,3.316625,2.030424,3.316625,2.030579
min,4.000000,4.260000,4.000000,3.100000,4.000000,5.390000,8.000000,5.250000
25%,6.500000,6.315000,6.500000,6.695000,6.500000,6.250000,8.000000,6.170000
50%,9.000000,7.580000,9.000000,8.140000,9.000000,7.110000,8.000000,7.040000
75%,11.500000,8.570000,11.500000,8.950000,11.500000,7.980000,8.000000,8.190000
max,14.000000,10.840000,14.000000,9.260000,14.000000,12.740000,19.000000,12.500000

In [5]:
print("means")
print(df2.loc[:,['x1', 'x2', 'x3', 'x4']].mean())
print(df2.loc[:,['y1', 'y2', 'y3', 'y4']].mean())

means
x1    9
x2    9
x3    9
x4    9
dtype: float64
y1    7.500909
y2    7.500909
y3    7.500000
y4    7.500909
dtype: float64

In [6]:
def linfit(x,y):
    return np.polynomial.polynomial.polyfit(x,y,1)
fits = map(linfit,[df2.x1, df2.x2, df2.x3, df2.x4], [df2.y1, df2.y2, df2.y3, df2.y4])
print(np.array(fits))

[[ 3.00009091  0.50009091]
 [ 3.00090909  0.5       ]
 [ 3.00245455  0.49972727]
 [ 3.00172727  0.49990909]]