In [1]:
import pandas as pd

In [4]:
url = 'https://download.bls.gov/pub/time.series/ln/ln.series'

df = pd.read_table(url, sep='\t+')

c:\users\bdew\anaconda2\lib\site-packages\ipykernel\__main__.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  app.launch_new_instance()

In [6]:
df.keys()

Index([u'series_id', u'lfst_code', u'periodicity_code', u'series_title',
       u'absn_code', u'activity_code', u'ages_code', u'class_code',
       u'duration_code', u'education_code', u'entr_code', u'expr_code',
       u'hheader_code', u'hour_code', u'indy_code', u'jdes_code', u'look_code',
       u'mari_code', u'mjhs_code', u'occupation_code', u'orig_code',
       u'pcts_code', u'race_code', u'rjnw_code', u'rnlf_code', u'rwns_code',
       u'seek_code', u'sexs_code', u'tdat_code', u'vets_code', u'wkst_code',
       u'born_code', u'chld_code', u'disa_code', u'seasonal',
       u'footnote_codes', u'begin_year', u'begin_period', u'end_year',
       u'end_period'],
      dtype='object')

In [68]:
df['sexs_code'].unique()

array([0, 1, 2], dtype=int64)

In [89]:
df[(df['orig_code'] == 1) & (df['ages_code'] == 17) & (df['sexs_code'] == 2) & (df['lfst_code'] == 40) & (df['periodicity_code'] == 'M') & (df['seasonal'] == 'S')]

,series_id,lfst_code,periodicity_code,series_title,absn_code,activity_code,ages_code,class_code,duration_code,education_code,...,wkst_code,born_code,chld_code,disa_code,seasonal,footnote_codes,begin_year,begin_period,end_year,end_period
969,LNS14000035,40,M,"(Seas) Unemployment Rate - 20 yrs. & over, His...",0,0,17,0,0,0,...,0,0,0,0,S,,2003,M01,2017,M11

In [34]:
url2 = 'https://download.bls.gov/pub/time.series/ln/ln.data.1.AllData'

In [35]:
df2 = pd.read_table(url2, sep='\s+')

c:\users\bdew\anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [90]:
df2[(df2['series_id'] == 'LNS14000035')].to_csv('test11.csv')