In [1]:
import pandas as pd

In [3]:
df = pd.read_table('https://download.bls.gov/pub/time.series/nb/nb.series')

In [4]:
df.keys()

Index([u'series_id', u'seasonal', u'ownership_code', u'estimate_code',
       u'industry_code', u'occupation_code', u'subcell_code', u'datatype_code',
       u'provision_code', u'survey_code', u'footnote_codes', u'begin_year',
       u'begin_period', u'end_year', u'end_period'],
      dtype='object')

In [13]:
df1 = df[(df['subcell_code'] == 26) 
         & (df['ownership_code'] == 1)
         & (df['provision_code'] == '088')][['series_id']]

In [30]:
series = df1['series_id'].str.replace(' ', '').values[0]

In [34]:
df = pd.read_table('https://download.bls.gov/pub/time.series/nb/nb.data.1.AllData')

In [35]:
df[df['series_id'] == series]

Empty DataFrame
Columns: [series_id, year, period, value, footnote_codes]
Index: []

In [36]:
series

'NBU10700000000002620088'