### Wins

In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('wins.csv')#.set_index(['Type', 'Law_Year'])

In [9]:
df[df['Type'] == 'State']

,Law_Year,Location,sID,Type,Imp,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
31,2011,Connecticut,CT,State,NaN,NaN,NaN,NaN,NaN,3579899,3589893,3593795,3596003,3591873,3584730,3576452
32,2014,California,CA,State,NaN,NaN,NaN,NaN,NaN,37332685,37676861,38011074,38335203,38680810,38993940,39250017
33,2014,Massachusetts,MA,State,NaN,NaN,NaN,NaN,NaN,6565524,6611923,6658008,6706786,6749911,6784240,6811779
34,2015,Oregon,OR,State,NaN,NaN,NaN,NaN,NaN,3838048,3868031,3899116,3925751,3968371,4024634,4093465
35,2016,Vermont,VT,State,2018.0,NaN,NaN,NaN,NaN,625982,626730,626444,627140,626984,626088,624594
36,2016,Washington,WA,State,2018.0,NaN,NaN,NaN,NaN,6743226,6822520,6895226,6968006,7054196,7160290,7288000
37,2016,Arizona,AZ,State,NaN,NaN,NaN,NaN,NaN,6408312,6467163,6549634,6624617,6719993,6817565,6931071