### Census API - ACS Example

In [1]:
import requests
import pandas as pd

import config
api_key = config.census_key

In [2]:
base = 'http://api.census.gov/data/'
years = ['2009', '2015']
variables = 'NAME,B01001I_001E,B01001_001E'
state = '10'

In [3]:
d = {}
for y in years:
    url = '{}{}/acs5?get={}&for=county:*&in=state:{}&key={}'.format(base, y, variables, state, api_key)
    r = requests.get(url).json()
    df = pd.DataFrame(r[1:], columns=r[0]).set_index('NAME')
    df['share'] = df['B01001I_001E'].astype(int) / df['B01001_001E'].astype(int)
    d[y] = df['share']

In [52]:
base = 'http://api.census.gov/data/'
years = ['2009', '2012', '2015']
variables = 'NAME,B01002_001E'
state = '10'

In [55]:
d = {}
for y in years:
    url = '{}{}/acs5?get={}&for=county:*&in=state:{}&key={}'.format(base, y, variables, state, api_key)
    r = requests.get(url).json()
    df = pd.DataFrame(r[1:], columns=r[0]).set_index('NAME')
    d[y] = df['B01002_001E']

ValueError: No JSON object could be decoded

In [60]:
base = 'http://api.census.gov/data/'
years = ['2009', '2012', '2015']
variables = 'NAME,B19013_001E'
state = '10'

In [62]:
d = {}
for y in years:
    url = '{}{}/acs5?get={}&for=state:{}&key={}'.format(base, y, variables, state, api_key)
    r = requests.get(url).json()
    df = pd.DataFrame(r[1:], columns=r[0]).set_index('NAME')
    d[y] = df['B19013_001E']
    
d

{'2009': NAME
 Delaware    57618
 Name: B19013_001E, dtype: object, '2012': NAME
 Delaware    60119
 Name: B19013_001E, dtype: object, '2015': NAME
 Delaware    60509
 Name: B19013_001E, dtype: object}

In [68]:
df['B19013_001E']

NAME
Delaware    60509
Name: B19013_001E, dtype: object

In [69]:
y = '2015'
url = '{}{}/acs5?get={}&for=state:*&key={}'.format(base, y, variables, api_key)
r = requests.get(url).json()
df = pd.DataFrame(r[1:], columns=r[0]).set_index('NAME')

In [71]:
df.sort_values('B19013_001E')

                     B19013_001E state
NAME
Puerto Rico                19350    72
Mississippi                39665    28
Arkansas                   41371    05
West Virginia              41751    54
Alabama                    43623    01
Kentucky                   43740    21
New Mexico                 44963    35
Louisiana                  45047    22
Tennessee                  45219    47
South Carolina             45483    45
North Carolina             46868    37
Oklahoma                   46879    40
Montana                    47169    30
Florida                    47507    12
Idaho                      47583    16
Missouri                   48173    29
Indiana                    49255    18
Maine                      49331    23
Ohio                       49429    39
Michigan                   49576    26
Georgia                    49620    13
Arizona                    50255    04
South Dakota               50957    46
Oregon                     51243    41
Nevada                     51847    32
Kansas                     52205    20
Nebraska                   52997    31
Iowa                       53183    19
Texas                      53207    48
Wisconsin                  53357    55
Pennsylvania               53599    42
Vermont                    55176    50
Rhode Island               56852    44
North Dakota               57181    38
Illinois                   57574    17
Wyoming                    58840    56
New York                   59269    36
Delaware                   60509    10
Colorado                   60629    08
Utah                       60727    49
Washington                 61062    53
Minnesota                  61492    27
California                 61818    06
Virginia                   65015    51
New Hampshire              66779    33
Massachusetts              68563    25
Hawaii                     69515    15
Connecticut                70331    09
District of Columbia       70848    11
New Jersey                 72093    34
Alaska                     72515    02
Maryland                   74551    24

### Working Example - Percent of Working Age Population Earning Less than X

In [72]:
base = 'http://api.census.gov/data/'
variables = 'NAME,B20004_002E'

In [73]:
y = '2015'
url = '{}{}/acs5?get={}&for=state:*&key={}'.format(base, y, variables, api_key)
r = requests.get(url).json()
df = pd.DataFrame(r[1:], columns=r[0]).set_index('NAME')

In [74]:
df

                     B20004_002E state
NAME
Alaska                     24957    02
Alabama                    19422    01
Arkansas                   20585    05
Arizona                    19456    04
California                 19700    06
Colorado                   22602    08
Connecticut                22458    09
District of Columbia       22792    11
Delaware                   22578    10
Florida                    18753    12
Georgia                    19611    13
Hawaii                     23523    15
Iowa                       23305    19
Idaho                      20872    16
Illinois                   21477    17
Indiana                    20724    18
Kansas                     22551    20
Kentucky                   19565    21
Louisiana                  20234    22
Massachusetts              23412    25
Maryland                   24457    24
Maine                      20502    23
Michigan                   18714    26
Minnesota                  21743    27
Missouri                   19585    29
Mississippi                19488    28
Montana                    18300    30
North Carolina             18455    37
North Dakota               25976    38
Nebraska                   22311    31
New Hampshire              26001    33
New Jersey                 21932    34
New Mexico                 17585    35
Nevada                     23658    32
New York                   20205    36
Ohio                       19702    39
Oklahoma                   20652    40
Oregon                     20273    41
Pennsylvania               21437    42
Puerto Rico                10661    72
Rhode Island               23247    44
South Carolina             18563    45
South Dakota               21434    46
Tennessee                  19237    47
Texas                      20044    48
Utah                       22009    49
Virginia                   21914    51
Vermont                    22305    50
Washington                 22104    53
Wisconsin                  21628    55
West Virginia              19874    54
Wyoming                    23279    56