In [1]:
import pandas as pd

In [6]:
df = pd.read_excel('sitc29614digit.xlsx')#[['ExportsFASValueBasisYtdDec', 'GenImportsCustomsValBasisYtdDec', 'GenImportsCIFValBasisYtdDec']]

In [7]:
df.keys()

Index([u'Year', u'SITC', u'sitc_sdesc', u'Country', u'ExportsFASValueBasisJan',
       u'GenImportsCustomsValBasisJan', u'GenImportsCIFValBasisJan',
       u'ExportsFASValueBasisFeb', u'GenImportsCustomsValBasisFeb',
       u'GenImportsCIFValBasisFeb', u'ExportsFASValueBasisMar',
       u'GenImportsCustomsValBasisMar', u'GenImportsCIFValBasisMar',
       u'ExportsFASValueBasisApr', u'GenImportsCustomsValBasisApr',
       u'GenImportsCIFValBasisApr', u'ExportsFASValueBasisMay',
       u'GenImportsCustomsValBasisMay', u'GenImportsCIFValBasisMay',
       u'ExportsFASValueBasisJun', u'GenImportsCustomsValBasisJun',
       u'GenImportsCIFValBasisJun', u'ExportsFASValueBasisJul',
       u'GenImportsCustomsValBasisJul', u'GenImportsCIFValBasisJul',
       u'ExportsFASValueBasisAug', u'GenImportsCustomsValBasisAug',
       u'GenImportsCIFValBasisAug', u'ExportsFASValueBasisSep',
       u'GenImportsCustomsValBasisSep', u'GenImportsCIFValBasisSep',
       u'ExportsFASValueBasisOct', u'GenImportsCustomsValBasisOct',
       u'GenImportsCIFValBasisOct', u'ExportsFASValueBasisNov',
       u'GenImportsCustomsValBasisNov', u'GenImportsCIFValBasisNov',
       u'ExportsFASValueBasisDec', u'GenImportsCustomsValBasisDec',
       u'GenImportsCIFValBasisDec', u'ExportsFASValueBasisYtdDec',
       u'GenImportsCustomsValBasisYtdDec', u'GenImportsCIFValBasisYtdDec',
       u'CTY_CODE'],
      dtype='object')

In [14]:
years = ['2000', '2005', '2010']
countries = ['0', '1220', '2010']
columns = ['Year', 'SITC', 'sitc_sdesc', 'Country', 'CTY_CODE', 'ExportsFASValueBasisYtdDec', 'GenImportsCustomsValBasisYtdDec', 'GenImportsCIFValBasisYtdDec']

In [16]:
df.loc[(df['Year'].isin(['2000', '2005', '2010'])) & (df['CTY_CODE'].isin(['0', '1220', '2010'])) & (df['SITC'].isin(['78']))][columns]

,Year,SITC,sitc_sdesc,Country,CTY_CODE,ExportsFASValueBasisYtdDec,GenImportsCustomsValBasisYtdDec,GenImportsCIFValBasisYtdDec
168701,2000,78,MOTOR VEHICLES,WorldTotal,0,59992296311,161682172658,164473330986
168703,2000,78,MOTOR VEHICLES,Canada,1220,33246890148,55703022251,56133692312
168705,2000,78,MOTOR VEHICLES,Mexico,2010,11393309907,26007173020,26194393449
169748,2005,78,MOTOR VEHICLES,WorldTotal,0,80532444582,195925783640,199273687816
169750,2005,78,MOTOR VEHICLES,Canada,1220,42327671751,61205166919,61523054264
169751,2005,78,MOTOR VEHICLES,Mexico,2010,11347565594,26788892953,26984441400
170832,2010,78,MOTOR VEHICLES,WorldTotal,0,95147601210,178945959443,182091577833
170834,2010,78,MOTOR VEHICLES,Canada,1220,41058730521,45294745024,45539448959
170835,2010,78,MOTOR VEHICLES,Mexico,2010,14446283135,40053593334,40259990406